doctype html
html
  head

    meta( name="twitter:app:id:googleplay",   content=result.twitterAppIdGooglePlay )   
    meta( name="twitter:app:id:ipad",         content=result.twitterAppIdiPad )
    meta( name="twitter:app:id:iphone",       content=result.twitterAppIdiPhone )
    meta( name="twitter:app:name:googleplay", content=result.twitterAppNameGooglePlay )
    meta( name="twitter:app:name:ipad",       content=result.twitterAppNameiPad )
    meta( name="twitter:app:name:iphone",     content=result.twitterAppNameiPhone )
    meta( name="twitter:app:url:googleplay",  content=result.twitterAppUrlGooglePlay )
    meta( name="twitter:app:url:ipad",        content=result.twitterAppUrliPad )
    meta( name="twitter:app:url:iphone",      content=result.twitterAppUrliPhone )
    meta( name="twitter:card",                content=result.twitterCard )
    meta( name="twitter:description",         content=result.twitterDescription)
    if result.twitterImage != null
      meta( name="twitter:image",               content=result.twitterImage.url )
    if result.twitterPlayer != null
      meta( name="twitter:player",              content=result.twitterPlayer.url )
      meta( name="twitter:player:height",       content=result.twitterPlayer.height )
      meta( name="twitter:player:width",        content=result.twitterPlayer.width )
    meta( name="twitter:site",                content=result.twitterSite )
    meta( name="twitter:title",               content=result.twitterTitle )
    meta( name="twitter:url",                 content=result.twitterUrl )
    meta( property="al:android:app_name",     content=result.alAndroidAppName )
    meta( property="al:android:package",      content=result.alAndroidPackage )
    meta( property="al:android:url",          content=result.alAndroidUrl )
    meta( property="al:ios:app_name",         content=result.alIosAppName )
    meta( property="al:ios:app_store_id",     content=result.alIosAppStoreId )
    meta( property="al:ios:url",              content=result.alIosUrl )
    meta( property="al:web:url",              content=result.alWebUrl )
    meta( property="fb:app_id",               content=result.fbAppId )
    meta( property="og:description",          content=result.ogDescription )
    if result.ogImage != null
      meta( property="og:image",                content=result.ogImage.url )
      meta( property="og:image:height",         content=result.ogImage.height )
      meta( property="og:image:width",          content=result.ogImage.width )
    meta( property="og:site_name",            content=result.ogSiteName )
    meta( property="og:title",                content=result.ogTitle )
    meta( property="og:type",                 content=result.ogType )
    meta( property="og:url",                  content=result.ogUrl )
    meta( property="og:video:secure_url",     content=result.ogVideoSecureUrl )
    if result.ogVideo != null
      meta( property="og:video:height",         content=result.ogVideo.height )
      meta( property="og:video:url",            content=result.ogVideo.url )
      meta( property="og:video:width",          content=result.ogVideo.width )
    if result.ogVideoTag != null
      each tag in result.ogVideoTag
        meta( property="og:video:tag",            content=tag )
    if result.ogVideo != null
      meta( property="og:video:type",           content=result.ogVideo.type )

body
    h1= title
    p Welcome to #{title}
